.addItem{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.addItem i{
    font-size: 2rem;
    color: #ebeff3;
    transform: rotateZ(180deg);
    padding-left: 1rem;
}

.addItem .desc h5{
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.addItem .desc p{
    color: #aeb0b3;
    font-size: 0.8rem;
    width: 100%;
}


@media only screen and (max-width: 789px){
    /*Tablets [601px -> 1200px]*/
  .addItem .desc p{
    font-size: 0.7rem;
    width: 100%;
}
}
@media only screen and (max-width: 600px){
    /*Big smartphones [426px -> 600px]*/
  .addItem .desc p{
    font-size: 0.7rem;
    width: 100%;
}

.addItem{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
   
}
