.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.row1 span button{
    background-color: #fff;
    color: #555;
    border: 0.1rem solid #ebe9e9;
    padding: 0.7rem 1rem;
}
.row1 span button.import{
    margin-right: 0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.row1 span button.export{
    margin-left: -0.3rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

	.row1 .input.from{
        width: 35%;
    }
	.row1 .input.to{
        width: 35%;
    }

.row1 input, .row2 input, .incoterms{
    background-color: #ebeff3 !important;
}

  .row2 .date{
        width: 30%;
    }

  .row2 .incoterms{
        width: 30%;
    }

    .cargoValue{
        width: 30%;
    }

@media only screen and (max-width: 780px){
    /*Tablets [601px -> 1200px]*/
	.row1 .input.from{
        width: 50%;
    }
	.row1 .input.to{
        width: 100%;
        margin-top: 2rem;
    }
    
    .row2 .date{
        width: 45%;
    }

    .cargoValue{
        width: 100%;
        margin-top: 2rem;
    }
   
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
       .row2 .date{
        margin-bottom: 5%;
    }
   
}
@media only screen and (max-width: 535px){
	/*Small smartphones [325px -> 425px]*/
	.row1 .input.from{
        margin-top: 5%;
    }
}