h3{
    margin-left: 0.1rem;
    margin-bottom: 2rem;
}
.itemSection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap !important;
}

@media only screen and (max-width: 780px){
    /*Tablets [601px -> 1200px]*/
	.itemSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
   
}
