.header {
	background-color: #0e2bce;
	width: 100%;
	padding-left: 1.5rem;
	padding-top: 1.5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.brand-search{
	display: flex;
	justify-content: space-between;
}

.header h5{
	color: #fff;
	font-size: 2rem;
	margin-right: 3.5rem;
}

.header h5 span{
	text-transform: uppercase;
	font-size: 1.5rem;

}


@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
	.btnGroup{
		margin-left: 20%;
		margin-bottom: 1rem;
	}
   
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .btnGroup{
		display: flex;
		flex-direction: row;
		margin-left: 10%;
	}
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
	.header {	
	display: flex;
	flex-direction: column !important;
}
  .btnGroup{		
		margin-left: 0.01%;
	}
}